.game-board {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

@media only screen and (min-width: 768px) {
  .game-board {
    grid-template-columns: 1fr 1fr 1fr;
    min-height: 100%;
  }
}
@media only screen and (min-width: 900px) {
  .game-board {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    min-height: 100%;
  }
}
